html, body {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

@property --theme-hue {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.special {
    --theme-hue: 180;
    transition: 1s;
}

.special:hover {
    --theme-hue: 300;
}

.fancy {
    border: 4px solid gray;
    --theme-hue: 240;
}

body {
    padding: 50px;
    position: relative;
}

@property --p-theme-hue {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

app-kobi {
    --p-theme-hue: var(--theme-hue, 0);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 3px solid hsl(var(--p-theme-hue), 80%, 30%);
    color: hsl(var(--p-theme-hue), 100%, 20%);
}

app-kobi .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 4px;
    background-color: hsl(var(--p-theme-hue), 27%, 70%);
}

app-kobi .content {
    padding: 4px;
    flex-grow: 1;
    background: hsl(var(--p-theme-hue), 27%, 80%);
}

app-kobi .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 4px;
    background: hsl(var(--p-theme-hue), 27%, 60%);
}
