html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 200px);

    justify-content: center;
    align-content: end;

    justify-items: stretch;
    align-items: stretch;

}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 20px;
}

.grid-item:nth-child(3) {
    background-color: pink;
    align-self: start;
}

.grid-item:nth-child(4) {
    background-color: yellow;
    justify-self: end;
}

.grid-item:nth-child(5) {
    background-color: lime;
    justify-self: center;
    align-self: center;
}



