span.special {
    display: inline-block;
    background-color: yellow;
}

button {
    display: inline;
}

.box-container div {
    display: list-item;
    list-style: circle;
    list-style-type: disc;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    margin-left: 20px;
}