<div>
  <button mat-raised-button color="primary">Click Me</button>
  <button mat-raised-button color="accent">Click Me</button>
  <button mat-raised-button color="warn">Click Me</button>
</div>
<div>
  <mat-icon class="icon-1" color="primary">home</mat-icon>
  <mat-icon color="accent">person</mat-icon>
</div>

<app-panel title="Hello">
  How are you?
  <mat-icon color="primary">home</mat-icon>
</app-panel>

<h1>What about this</h1>

<div class="other">
  <app-panel title="World">
    This is amazing
    <mat-icon color="primary">home</mat-icon>
    <div class="special">
      This is special
    </div>
    </app-panel>
  <button mat-raised-button color="primary">Click Me</button>
</div>
